@charset "UTF8";

body {
    color: white;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    width: 98vw;
    min-height: 100vh;
    background-image: url(imagens/background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 90%;
    height: 77%;
    border-radius: 20px;
}

h1 {
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 70px;
    color: #ffd700;
    text-shadow: 2px 2px 6px #00000080;
    margin: 20px 0;
    text-transform: uppercase;
    border-bottom: 3px solid #ffd700;
}


h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    color: #ffd700;
    padding: 2px 0px;
    text-shadow: 1px 1px 3px black;
    font-size: 40px;
    text-align: center;
}

p {
    color: #d3d3d3;
    margin: 6px;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #ffd700;
    text-shadow: 0px 0px 4px black;
}

footer {
    margin: 50px 0px 0px 0px;
}


#btn_container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-image: linear-gradient(90deg, #222831, #393e46, #222831);
    padding: 8px;
    border: 4px solid #444;
    box-shadow: inset 0px 0px 23px #000000;
}

#btn_container_filho1 {
    display: flex;
    gap: 7px;
}

#timer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    background-color: #1f1f1f;
    text-shadow: 0px 0px 5px #00ff00;
    color: #31ff00;
    border-radius: 10px;
    padding: 2px;
    text-align: center;
}


#iniciar {
    background-image: linear-gradient(to bottom, #014100, #00771a);
    color: #3dff00;
    border: 2px solid #06ff00;
}

#parar {
    background-image: linear-gradient(to bottom, #330000, #770000);
    color: #ff0000;
    border: 2px solid #ff0000;
}

#Salvar {
    background-image: linear-gradient(to bottom, #323300, #757700);
    color: #edff00;
    border: 2px solid #e6ff00;
}

.botoes {
    font-size: 20px;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 2px 2px 6px #0000004d;
    transition: all 0.2s ease-in-out;
}

.botoes:hover {
    background-image: linear-gradient(to bottom, #f5f5f5, #dcdcdc);
    box-shadow: 3px 3px 8px #00000066;
    transform: scale(1.03);
}

#intensidade_id {
    color: #000000;
    font-size: 25px;
    border-radius: 10px;
}

#barras_container {
    display: flex;
    width: 728px;
    box-shadow: inset 0px 0px 23px black;
    background-image: linear-gradient(90deg, #222831, #393e46, #222831);
    white-space: nowrap;
    padding: 10px 10px;
    border-radius: 28px;
    border: 2px solid #ffff00;
    margin: 10px 0px;
}

#barras_container>div {
    width: 100%;
    box-shadow: inset 0px 0px 23px black;
    padding: 10px;
}

#barra_tempo_treino {
    background-image: linear-gradient(45deg, #ff3333, #ff9999, #ff3333);
    width: 83%;
    height: 23px;
    border-radius: 20px;
    border: 4px solid #f2ff00;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 0%, 100%;
}

#barra_tempo_treino_total {
    background-image: linear-gradient(45deg, #63ff33, #b4ffbe, #63ff33);
    width: 83%;
    height: 23px;
    border-radius: 20px;
    border: 4px solid #f2ff00;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 0%, 100%;
}

#barra_tempo_treino_n {
    color: #ffcc00;
    text-shadow: 0px 0px 5px black;
    font-size: 40px;
}

#barra_tempo_treino_n_total {
    color: #ffcc00;
    text-shadow: 0px 0px 5px black;
    font-size: 40px;
}

#p1 {
    width: 108px;
}

#historico {
    width: 100%;
    height: 100%;
    margin: 22px 0px 0px 0px;
    padding: 3px;
    border: 4px solid yellow;
    overflow-y: scroll;
    background-color: #2e2e2e;
}

#container_historico {
    display: flex;
    align-items: center;
    min-width: 470px;
    height: 166px;
}

#container_pontos>p {
    color: #ffcc00;
    font-size: 19px;
    text-shadow: 0px 0px 5px #000000;
}

#container_pontos {
    width: 443px;
    border: 4px solid #444;
    border-radius: 10px;
    background-image: linear-gradient(90deg, #222831, #393e46, #222831);
    padding: 5px;
    margin: 10px;
    box-shadow: 3px 4px 7px 2px #00000096;
}

#limpar_dados_btn,
#trocar_pontos {
    color: #00ffcc;
    border-radius: 5px;
    font-weight: bold;
    padding: 6px;
    border: 2px solid #00ffcc;
    background-image: linear-gradient(to bottom, #003333, #007777);
}

#limpar_dados_btn:hover,
#trocar_pontos:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

#valor_pontos {
    color: #ffffff;
}

.piscar {
    box-shadow: 0px 0px 5px 8px #ff3333;
}

::-webkit-scrollbar {
    width: 1vw;
}

::-webkit-scrollbar-track {
    background: #222;
}

::-webkit-scrollbar-thumb {
    background-color: #f3e400;
    border-radius: 10px;
    border: 2px solid #222;
}